@import "var";
.container-login {
  .form-login {
    img.logo {
    }
    @media (max-width: 640px) {
      img.logo {
        display: block;
      }
    }
    h1.title2 {
      background-color: red;
      font-family: var(--fonts);
      font-size: var(--lg);
      margin-bottom: 22px;
      //justify-content: start;
    }

    form {
      label.label {
      }
      .input-name,
      .input-email,
      .input-password {
        margin-bottom: 22px;
      }
    }
  }
}
@media (max-width: 640px) {
  .primary-button {
    width: 300px;
    position: relative;
    bottom: 0;
    margin-bottom: 24px;
    top: 65px;
  }
}
