@import "var";
.container-login {
  .form-login {
    @media (max-width: 640px) {
      /*height: 100%;*/
    }
    img.logo {
    }
    @media (max-width: 640px) {
      img.logo {
        display: block;
      }
    }
    h1.title2 {
      font-family: var(--fonts);
      font-size: var(--lg);
      margin-bottom: 22px;
      justify-self: start;
      align-self: flex-start;
    }

    form {
      @media (max-width: 640px) {
        height: 100%;
      }
      label.label {
      }
      .input-name,
      .input-email,
      .input-password {
        margin-bottom: 22px;
      }
    }
    form div {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 640px) {
  .primary-button {
    width: 300px;
    position: relative;
    bottom: 0;
    margin-bottom: 24px;
    top: 65px;
  }
}
