@import "var";

body {
  .product-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 38px;
    .shopping-product {
      figure {
      }
      p {
      }
      h2 {
      }
      span {
      }
      input {
      }
    }
  }
}
