@import "var";

body {
  //background-color: red;
  margin: 0;

  .container-login {
    //background-color: rgb(247, 195, 128);
    width: 100%;
    height: calc(100vh - 52px);
    display: grid;
    place-items: center;
    font-size: 1rem;
    .form-login {
      display: grid;
      grid-template-rows: auto 1fr auto;
      width: 300px;
      justify-items: center;
      img.logo {
        width: 200px;
        //height: 100px;
        object-fit: contain;
        margin-bottom: 48px;
        justify-self: center;
        display: none;
      }
      @media (max-width: 640px) {
        img.logo {
          display: block;
        }
      }
      h1.title {
        font-family: var(--fonts);
        text-align: center;
        font-size: var(--lg);
      }
      p.subtitle {
        font-family: var(--fonts);
        color: var(--disabled-element);
        text-align: center;
        margin-top: 0px;
        margin-bottom: 32px;
      }
      form {
        //background-color: aquamarine;
        display: flex;
        width: 100%;
        flex-direction: column;
        font-family: var(--fonts);
        label.label {
          margin-bottom: 4px;
          font-size: 1rem;
          font-weight: var(--fonts-wheigth-bold);
        }
      }
    }
  }
}
