$backgroundPrimary: white;
$textColorPrimary: #363636;
$textColorPrimaryAlt: #6f6c6c;

$backgroundSecondary: #b14b7c;
$textColorSecondary: #ffc728;

$backgroundSecondaryAlt: #b14b7c;
$textColorSecondaryAlt: white;

$backgroundTerciary: #33796e;
$textColorTerciary: white;

$backgroundTerciaryAlt: #8c8b8b;
$textColorTerciaryAlt: white;

$backgroundButtonPrimary: black;
$textColorButtonPrimary: white;

$backgroundButtonSecondary: #ffc728;
$textColorButtonSecondary: black;

$primaryFont: "Raleway";
$secondaryFont: "Montserrat";
$standardFont: sans-serif;
