@import "var";

body {
  main.container {
    //background-color: aquamarine;
    display: flex;
    flex-direction: column;
    section.search_products {
      display: flex;
      div {
        width: 200px;
        height: 30px;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    section.filter_products {
      display: flex;
      margin-right: 10px;
      div {
      }
    }
    section.Grillas_products {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(213, 210, 209);
      justify-content: left;
      div.card-product {
        width: 250px;
        height: 300px;
        //background-color: blue;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 20px;
        div.card-product-footer {
          display: flex;
          justify-content: space-between;
          div.card-product-price {
            p {
              font-family: Roboto;
              font-weight: var(--fonts-wheigth-bold);
            }

            span {
              margin-top: 0px;
            }
          }
          button {
            display: inline;
            background-color: var(--button-color);
            border-radius: 50px;
            border: none;
            width: 60px;
            height: 60px;
            img {
              width: 40px;
              height: 40px;
              cursor: pointer;
            }
          }
        }
        img {
          width: 250px;
          height: 210px;
          border-radius: 20px;
        }
      }
    }
  }
}
